@import "common/styles/colors.scss";

.confirmation-master-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 8, 8, 0.7);
  z-index: 3;

  // background-color: #6a6dcdd7;

  .confirmation-inner-modal-container {
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    max-height: 80vh;
    max-width: 400px;
    padding: 24px;
    background-color: $grey500;
    z-index: 50;
    border-radius: 4px;

    .confirmation-modal-topbar-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;

      .confirmation-close-button-container {
        opacity: 0.6;
        transition: 0.2s;
      }

      .confirmation-close-button-container:hover {
        opacity: 1;
      }
    }

    .confirmation-dialog-bottom-bar-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-direction: row-reverse;
      width: 100%;
    }
  }
}
