@import "common/styles/colors.scss";

.textarea-main {
  padding: 8px 12px;
  background-color: $grey100;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit !important;
  transition: 0.05s;
  width: 300px;
  height: 100px;
}

.textarea-main:focus {
  outline: none;
}
